  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Organise IT</h1>
        <p class="lead text-muted">Tired of looking for a solution for your problem? Many DIY options not sure which one will work for you? Need a quick and trusted solution?</p>
        <p class="lead text-muted">Are you a talented freelancer? Do you have something to share with others? and why not earn some money? Are you an expert in DIY hacks and tricks?</p>
        
        <p>
          <a href="#" class="btn btn-primary my-2">Get Started</a>
          <a href="#" class="btn btn-secondary my-2">SignIn</a>
        </p>
      </div>
    </div>
  </section>
